
            body {
				height: 100%;
				height: 100vh;
				font-family: 'Lato', sans-serif;
                                text-transform: uppercase;
				letter-spacing: 2px;
			}
           
			
.h1{
font-family: 'Lato', sans-serif;
text-align: left;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 22px;
}


			p {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 14px;
				margin: 20px 0px;
                                color=#242529;
			}
                        
                        li{
                                text-transform: uppercase;
			        letter-spacing: 1px;
				font-size: 12px;
                                color=#242529;
                        }
                        table{
                        align=left;
                        border=2;
                        cellpadding=1;
                        cellspacing=1;
                        width: 500px;
                        color=#0000;
                        }

			.download-btn {
				padding: 20px;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: #fff;
				border-radius: 0px;
				border: 2px solid #fff;
				text-decoration: none;
				display: block;
				width: 200px;
				margin: 0 auto;
			}

			.download-btn:hover {
				background: rgba(255,255,255,1);
				cursor: pointer;
				color: #000;
			}

.codetext{
                text-transform: none;
				letter-spacing: 0px;
				font-size: 13px;
}

.mycodebox {
    background-color:#242529;
    width:700px;
    overflow:auto;    
    padding:10px;
}
.mycodebox code {
    font-size:11px;
    color:#ffff !important;
}
		table, th, td {
    border: 1px solid black;
}
.myboxstyle{
width:96%;
height:90px;
background-color:#242529;
color:#ffff !important;
border:none;
padding:2%;
font:12px;
}


#bottonstudio{
position: absolute;
text-align:center;
float: bottom;
bottom: 0px;
right: 25px;
}